<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>This is Home Page</title>
</head>
<body>
   		<section class="banner d-flex justify-content-center align-items-center ">
			<div class="text-center">
				  <h1 class="font-weight-bold " style="color:SlateBlue;"> Smart Contact Manager </h1> 
			      <p> A "Smart Contact Manager" 
					  is a software application or 
					  digital tool designed to
					  
					  
			      </p><p> help 
					  individuals and businesses efficiently
					   organize and manage their contacts 
					   and communication.
					   
					   
					   </p>
					   
					   <p>It typically goes 
					   beyond the basic functionality of 
					   traditional contact lists and often
					    includes advanced
					   </p><p> features, automation, 
					    and integration
					   with other tools and platforms</p>
					   
					   <button class="btn bg-primary btn-lg text-white"> Get Start</button>

			</div>			  
		   </section>
</body>
</html>